[submodule "sottomarini/dibi-bib"]
	path = sottomarini/dibi-bib
	url = git@github.com:grammaton/dibi-bib.git
[submodule "metafisica"]
	path = metafisica
	url = git@github.com:grammaton/metafisica.git
