<div class="sidebar-footer">
   <p>Tese sugli alberi madide bandiere<br>
   di colori che mai ebbe alcun paese,<br>
   sventolano per stelle insudiciate,<br>
   per una luna verde nella coffa.</p>

   <p>Mondo d'acqua dai tempi dei pionieri!<br>
   Foreste d'onde ricoprono ogni via,<br>
   cade la luce a gocce dalla rete<br>
   di nuove strade nell'etere sospese.</p>

   <p>Correnti d'acqua sfogliano le bibbie<br>
   e segna notte l'ago della bussola.<br>
   Esce dai sogni e ne riluce l'oro,<br>
   il suo retaggio al mare resta in dono.</p>

   <p>Non una sola terra inesplorata!<br>
   Del marinaio le storie alla deriva,<br>
   poiché i ridenti, intrepidi pionieri<br>
   s'inabissarono in morto braccio d'acqua.</p>
</div>
