---
layout: table_wrappers
name: acquaalta
---

<!DOCTYPE html>

<html lang="{{ site.lang | default: 'en-US' }}">
{% include head.html %}
<body>
  <a class="skip-to-main" href="#main-content">Skip to main content</a>
  {% include icons/icons.html %}
  {% include components/sidebar.html %}
  <div class="main" id="top">
    {% include components/header.html %}
    <div class="main-content-wrap">
      {% include components/breadcrumbs.html %}
      <div id="main-content" class="main-content">
        <main>
          {% if site.heading_anchors != false %}
            {% include vendor/anchor_headings.html html=content beforeHeading="true" anchorBody="<svg viewBox=\"0 0 16 16\" aria-hidden=\"true\"><use xlink:href=\"#svg-link\"></use></svg>" anchorClass="anchor-heading" anchorAttrs="aria-labelledby=\"%html_id%\"" %}
          {% else %}
            {{ content }}
          {% endif %}

          {% if page.has_toc != false %}
            {% assign nav_children = "" | split: "" %}
            {% assign sorted_pages = site.html_pages | sort: "url" %}
            {% for p in sorted_pages %}
              {% if p.url contains page.url and p.url != page.url %}
                {% assign nav_children = nav_children | push: p %}
              {% endif %}
            {% endfor %}

            {% if nav_children.size >= 1 %}
              <hr>
              <h2 class="text-delta">Table of contents</h2>
              <ul>
                {% for nav_child in nav_children %}
                  {% assign filename = nav_child.path | split: '/' | last %}
                  {% assign parts = filename | split: '-' %}
                  {% assign author_list = "" | split: "" %}

                  {% if nav_child.authors %}
                    {% for author in nav_child.authors %}
                      {% assign author_list = author_list | push: author.surname %}
                    {% endfor %}
                  {% else %}
                    {% assign parts = filename | split: '-' %}
                    {% assign year = parts[0] %}
                    {% assign author_index = 1 %}
                    {% if year.size != 4 %}
                      {% assign year = "" %}
                      {% assign author_index = 0 %}
                    {% endif %}
                    {% for part in parts offset:author_index %}
                      {% if part contains '.html' or part contains '.md' or part contains 'a' or part contains 'the' or part contains 'in' or part contains 'of' %}
                        {% break %}
                      {% endif %}
                      {% assign author_list = author_list | push: part %}
                    {% endfor %}
                  {% endif %}

                  <li class="mt-2">
                    {{ author_list | join: ", " }}: <a href="{{ nav_child.url | relative_url }}">{{ nav_child.title }}</a>
                    {% if nav_child.date %}
                      <span>({{ nav_child.date }})</span>
                    {% elsif year.size == 4 %}
                      <span>({{ year }})</span>
                    {% endif %}
                  </li>
                {% endfor %}
              </ul>
            {% endif %}
          {% endif %}
        </main>
        {% include components/footer.html %}
      </div>
    </div>
    {% if site.search_enabled != false %}
      {% include components/search_footer.html %}
    {% endif %}
  </div>

  {% if site.mermaid %}
    {% include components/mermaid.html %}
  {% endif %}
</body>
</html>
